@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* line-height: 1.5; */
  margin-top: 30px;

}


.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  flex-direction: column;
  margin-top: 20px;
  background-color: #b83f3f !important;
}

.calculate-button {
  background-color: rgb(34, 177, 248);
  color: white;
  border-radius: 10px;
  padding: 12px 15px;
  margin-top: 20px;
  cursor: pointer;
  border: none;
  font-size: 18px;
  font-weight: semibold;
}

.result {
  margin-top: px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  /* gap: 6px; */
}

.input-container {
  margin-top: 20px;
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  align-items: center;
  justify-content: center;
  justify-items: center;
  gap: 10px;
  /* background-color: #747bff; */
}

.input {
  padding: 10px;
  max-width: 300px;

  border: 2px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  color: #333;
  outline: none;
  transition: border-color 0.3s ease;
  background-color: #fff;
}

.input:focus {
  border-color: #007bff; /* تغییر رنگ حاشیه هنگام فوکوس */
}
h1 {
  text-align: center;
}
